
.fade-enter-active, .fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}

*{
  color: black;
}
i {
  color: inherit;
}
input {
  padding-left: 10px !important;
}